<ion-header >
  <ion-navbar color="primary" align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div style="text-align:center;">
    <img src="assets/imgs/logo.png" style="width:200px">
    <h5>
      "Waktu Ngaji, Memberikan informasi jadwal pengajian, tablik akbar dan kajian atau ceramah Islam lainnya serta profil para Ustadz dan Ustadzah."
    </h5>
  </div>

<hr>

<!-- <ion-card> -->
<!-- <ion-card-header> -->
<!-- </ion-card-header> -->
<ion-card-content>
  Kritik, saran dan informasi jadwal, silahkan hubungi kami pada alamat dibawah.
  <ion-list>
      <ion-label>Whatsapp: 0859 666 55 260</ion-label>
      <ion-label>Email: info@waktungaji.xyz</ion-label>
      <ion-label>Instagram: @Waktu_Ngaji</ion-label>
      <ion-label>Website: <a href="http://www.waktungaji.com/">www.waktungaji.com</a></ion-label>
  </ion-list>

  <p>Bantu kami mengembangkan aplikasi ini dengan ikut dalam donasi kitabisa.com</p>
  <a href="https://kitabisa.com/bantuanwaktungaji">
  <button ion-button round><ion-icon name="arrow-dropright-circle"></ion-icon> Donasi</button></a>

</ion-card-content>
<!-- </ion-card> -->






</ion-content>
