<ion-header >
  <ion-navbar color="primary" align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>

<ion-content padding>


</ion-content>
