<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>List</ion-title> -->
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">

  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides autoplay="5000" loop="true" speed="1000" style="height:200px; margin: 5px 0px;" *ngIf="banners.length">
      <ion-slide *ngFor="let row of banners" (click)="loading(banners.link)">
        <a class="ion-home color-primary item" href="{{row.link_affiliasi}}"><img src="http://www.waktungaji.com/assets/img/banner/{{row.banner}}"></a>
      </ion-slide>
  </ion-slides>

  <hr>

  <ion-segment>
    <ion-segment [(ngModel)]="menuList">
      <ion-segment-button value="listNgaji">
        Jadwal Ngaji
      </ion-segment-button>
      <ion-segment-button value="listProfile">
        Profile Ustadz
      </ion-segment-button>
    </ion-segment>
  </ion-segment>

  <div [ngSwitch]="menuList">
    <div *ngSwitchCase="'listNgaji'">
      <div *ngFor="let item of jadwal">
        <ion-card>

          <ion-item  >
            <ion-avatar item-start>
              <img src="assets/imgs/logo_2.png">
            </ion-avatar>
            <h2>{{item.penyelenggara}}</h2>
            <p><ion-icon name="md-time"></ion-icon> {{item.tanggal_acara}} | {{item.jam_acara}}</p>
          </ion-item>

          <img src="http://www.waktungaji.com/assets/img/flyer/{{item.flyer_acara}}">

          <ion-card-content>
            <p>{{item.tema_acara}}</p>
          </ion-card-content>

          <ion-row>
            <ion-col>
              <div (click)="detail(item)">
                <button ion-button icon-start clear small>
                  <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
                  <div>View</div>
                </button>
              </div>
            </ion-col>
          </ion-row>

        </ion-card>
      </div>
    </div>

    <ion-list *ngSwitchCase="'listProfile'">
      <div *ngFor="let row of ustadz; let i=index">
        <div *ngIf="i<5">
          <ion-item (click)="detailUstadz(row)">
            <ion-thumbnail item-start>
              <img src="http://www.waktungaji.com/assets/img/ustadz/{{row.foto_ustadz}}" style="object-fit: cover;">
            </ion-thumbnail>
            <h2>{{row.nama_ustadz}}</h2>
          </ion-item>
        </div>
      </div>
      <button ion-button block (click)="listUstadz()">Lihat Profile Lainya..</button>
    </ion-list>
  </div>



</ion-content>
