<ion-header >
  <ion-navbar color="primary" align-title="center">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- imgs -->

    <ion-slides autoplay="5000" loop="true" speed="3000" style="height:200px;">
      <ion-slide>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
