<ion-header >
  <ion-navbar color="primary" align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment>
    <ion-segment [(ngModel)]="menuList">
      <ion-segment-button value="login">
        Login
      </ion-segment-button>
      <ion-segment-button value="regis">
        Register
      </ion-segment-button>
    </ion-segment>
  </ion-segment>

  <div [ngSwitch]="menuList">
    <div *ngSwitchCase="'login'">

      <form (ngSubmit)="logForm()">
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Email</ion-label>
            <ion-input type="email" placeholder="Email" [(ngModel)]="postData.email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>Password</ion-label>
            <ion-input type="password" placeholder="Password" [(ngModel)]="postData.password" name="password"></ion-input>
          </ion-item>

          <button ion-button type="submit" block>Login</button>
        </ion-list>
      </form>


    </div>

    <div *ngSwitchCase="'regis'">
      <form (ngSubmit)="regForm()">
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Nama Lengkap</ion-label>
          <ion-input type="text" placeholder="Nama Lengkap" [(ngModel)]="postDataregis.nama_lengkap" name="nama_lengkap"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input type="email" placeholder="Email" [(ngModel)]="postDataregis.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Password</ion-label>
          <ion-input type="password" placeholder="Password" [(ngModel)]="postDataregis.password" name="password"></ion-input>
        </ion-item>

        <ion-input type="hidden" [(ngModel)]="postDataregis.level" name="level" value="2"></ion-input>


        <button ion-button type="submit" block>Daftar</button>
      </ion-list>
      </form>
    </div>
  </div>

</ion-content>
