<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-title>Menu 2 </ion-title> -->
      <span *ngIf="loggedIn; else notLogin">
        <ion-avatar item-start style="    width: 100px; float: left; padding: 10px;">
          <img src="assets/imgs/logo.png" >
        </ion-avatar>
        <p>
          <b>{{dataUser.nama_user}}</b> <br>
          {{dataUser.email_user}}
        </p>
      </span>

      <ng-template #notLogin>
        <img src="assets/imgs/bg-slide.png" alt="">
      </ng-template>
      <!-- <ion-card> -->
      <!-- <ion-avatar item-start style="    width: 100px; float: left; padding: 10px;">
        <img src="assets/imgs/logo.png" >
      </ion-avatar>
      <p> <b>Marty McFly</b> <br>
      November 5, 1955</p> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
       <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" color="primary"></ion-icon>  {{p.title}}
      </button>
<!--
      this.pages = [
        { title: 'Home ', component: ListPage },
        { title: 'List Ustadz ', component: ListUstadz },
        { title: 'List Jadwal', component: ListJadwal },
        { title: 'Login | Daftar 1', component: RegisPage },
        { title: 'Logout', component: LogoutPage },
        { title: 'About us', component: About }
      ]; -->

      <!-- <span *ngIf="dataUser != ''; else notLoginMenu">
        <button menuClose ion-item (click)="openPage('ListPage')">Home</button>
        <button menuClose ion-item (click)="openPage('ListUstadz')">List Ustadz</button>
        <button menuClose ion-item (click)="openPage('ListJadwal')">List Jadwal</button>
        <button menuClose ion-item (click)="openPage('RegisPage')">Login | Daftar 11</button>
        <button menuClose ion-item (click)="openPage('LogoutPage')">Logout</button>
        <button menuClose ion-item (click)="openPage('About')">About us</button>
      </span>

      <ng-template #notLoginMenu>
        <button menuClose ion-item (click)="openPage('ListPage')">Home</button>
        <button menuClose ion-item (click)="openPage('ListUstadz')">List Ustadz</button>
        <button menuClose ion-item (click)="openPage('ListJadwal')">List Jadwal</button>
        <button menuClose ion-item (click)="openPage('RegisPage')">Login | Daftar 12</button>
        <button menuClose ion-item (click)="openPage('About')">About us</button>
        <button menuClose ion-item (click)="openPage('LogoutPage')">Logout</button>
      </ng-template> -->


    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
