<ion-header >
  <ion-navbar color="primary" align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let row of ustadz; let i=index">
      <!-- <div *ngIf="i<5"> -->
        <ion-item (click)="detailUstadz(row)">
          <ion-thumbnail item-start>
            <img src="http://www.waktungaji.com/assets/img/ustadz/{{row.foto_ustadz}}" style="object-fit: cover;">
          </ion-thumbnail>
          <h2>{{row.nama_ustadz}}</h2>
        </ion-item>
      <!-- </div> -->
    </div>
  </ion-list>
</ion-content>
