<ion-header >
  <ion-navbar color="primary" align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page">

  <!-- <ion-card *ngFor="let item of jadwal">
      <div (click)="detail(item)">

        <img src="http://www.waktungaji.com/assets/img/flyer/{{item.flyer_acara}}"/>
        <div class="card-title">{{item.tema_acara}}</div>
        <div class="card-title">{{item.lokasi_acara}}</div>
        <div class="card-subtitle">{{item.jam_acara}}</div>
    </div>

  </ion-card> -->
  <!-- <div *ngFor="let item of jadwal"> -->

  <ion-card>


  <!-- <ion-item  >
    <ion-avatar item-start>
      <img src="assets/imgs/icon-masjid.png">
    </ion-avatar>
    <h2>{{detail.penyelenggara}}</h2>
    <p>{{detail.tanggal_acara}}</p>
  </ion-item> -->

  <img src="http://www.waktungaji.com/assets/img/flyer/{{detail.flyer_acara}}">

  <ion-card-content>
    <h3>Penyelenggara :</h3>
    <h2><b>{{detail.penyelenggara}}</b></h2>
    <hr>
    <h2>Tema Acara : </h2>
    <h2><b>{{detail.tema_acara}}</b></h2>
    <hr>
    <h2>Lokasi : </h2>
    <h2><b>{{detail.lokasi_acara}}</b></h2>
    <hr>
    <h2>Jadwal : </h2>
    <h2><b> {{detail.tanggal_acara}} | {{detail.jam_acara}}</b></h2>
    <hr>
    <h2>Google maps: </h2>
    <h2><b><a href="{{detail.google_maps}}">maps</a></b></h2>
    <hr>
    <h2>Sumber : </h2>
    <h2><b [innerHTML]="detail.sumber_acara"></b></h2>
  </ion-card-content>

</ion-card>


</ion-content>
