<ion-header >
  <ion-navbar color="primary" align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logoLc.png" alt="" style="width:150px; margin: 0 15%;">
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page">
  <ion-card>
    <img src="http://www.waktungaji.com/assets/img/ustadz/{{detail.foto_ustadz}}">
    <ion-card-content>
      <h3>Nama Ustadz :</h3>
      <h2><b>{{detail.nama_ustadz}}</b></h2>
      <hr>
      <h2>Biografi : </h2>
      <h2><b>{{detail.biografi_ustadz}}</b></h2>
    </ion-card-content>
  </ion-card>


</ion-content>
